[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

.vs/
*.user
*.userosscache
*.sln.docstates

*.rsuser
*.suo
*.user
*.sln.docstates

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

*.nupkg
*.snupkg
.nuget/
packages/

.store/

TestResults/
*.trx
*.coverage
*.coveragexml
*_TestResults*/
*.msCoverageSourceRootsMapping*
CoverletSourceRootsMapping*

*.ncrunch*
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

*.tss

.idea/
*.sln.iml

.cr/

__pycache__/
*.pyc

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

.DS_Store
.AppleDouble
.LSOverride

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.config/
